<p style="color: green"><%= notice %></p>

<%= link_to 'Export CSV', export_products_path(format: :csv) %> |
<%= link_to 'Export Excel', export_products_path(format: :xlsx) %>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Price</td>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= link_to "Show this product", product %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New product", new_product_path %>
