<p style="color: green"><%= notice %></p>

<%= link_to 'Export CSV', export_products_path(format: :csv) %> |
<%= link_to 'Export Excel', export_products_path(format: :xlsx) %>

<div data-controller="product-export">
  <button data-action="click->product-export#test">Click me!</button>
  <button data-action="click->product-export#export">Export Products</button>
  <div data-product-export-target="status"></div>
  <a data-product-export-target="download" class="hidden" download>Download</a>
</div>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Price</td>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= link_to "Show this product", product %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New product", new_product_path %>
